PosenNigmaFinal_no_credentials.json
{
  "name": "PosenNigmaFinal",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 6 * * *"
            }
          ]
        }
      },
      "id": "d0e95512-76af-4e7b-b2c8-49a6330933e6",
      "name": "Daily Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -6416,
        560
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1nvfH4NJu2-ouXiGtvs_LXr9c2Ma5--YG",
            "mode": "list",
            "cachedResultName": "Product Image",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1nvfH4NJu2-ouXiGtvs_LXr9c2Ma5--YG"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -6048,
        368
      ],
      "id": "e8fa00ca-7f35-40d7-8fef-93bd8e4c199e",
      "name": "List Product Images"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bwn4BsHxzq7m4jPWq3wUZduXH7oIveexl8LijyNcaUI",
          "mode": "list",
          "cachedResultName": "Social Media Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bwn4BsHxzq7m4jPWq3wUZduXH7oIveexl8LijyNcaUI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1235876218,
          "mode": "list",
          "cachedResultName": "content_posting_tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bwn4BsHxzq7m4jPWq3wUZduXH7oIveexl8LijyNcaUI/edit#gid=1235876218"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "id": "87602ba0-aa1a-40f0-8905-730b6210bdd2",
      "name": "Tracking_sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -6048,
        688
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68f89883-027b-4622-967b-24b3b0bb58cb",
              "name": "all_img_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-1111-2222-3333-444455556666",
              "name": "img_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5792,
        368
      ],
      "id": "a65b590f-6a0c-499e-9863-dcae512fac00",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5638e8d-2d3a-46f7-b729-7b10f512a70f",
              "name": "used_img_name",
              "value": "={{ $json.used_img_name }}",
              "type": "string"
            },
            {
              "id": "b2c3d4e5-2222-3333-4444-555566667777",
              "name": "account_name",
              "value": "={{ $json.account_name }}",
              "type": "string"
            },
            {
              "id": "c3d4e5f6-3333-4444-5555-666677778888",
              "name": "platform",
              "value": "={{ $json.platfrom }}",
              "type": "string"
            },
            {
              "id": "d4e5f6a7-4444-5555-6666-777788889999",
              "name": "today_post_mode",
              "value": "={{ $json.today_post_mode }}",
              "type": "string"
            },
            {
              "id": "607318d9-09be-437e-9141-cdd88dbbbf46",
              "name": "index",
              "value": "={{ $json.index }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5792,
        688
      ],
      "id": "c6c4746c-5ac9-4f3b-b70a-fce88138597b",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "jsCode": "const all_items = $input.all().map(item => item.json);\n\n// 🔥 latest row (row_number MAX)\nconst latest_sheet = all_items\n  .filter(item => item.today_post_mode !== undefined && item.today_post_mode !== '')\n  .sort((a, b) => (b.row_number || 0) - (a.row_number || 0))[0] || {};\n\n// 🔹 values\nconst account_name = (latest_sheet.account_name || 'thebitz420dotio').trim();\nconst platform = (latest_sheet.platform || 'instagram').trim();\nconst today_post_mode = (latest_sheet.today_post_mode || '').trim();\n\n// 🔥 derive types\nconst fb_post_type = today_post_mode.includes('fb_image') ? 'image' : 'video';\nconst ig_post_type = today_post_mode.includes('ig_image') ? 'image' : 'video';\n\n// 🔹 बाकी same\nconst all_images = all_items\n  .filter(item => item.all_img_name)\n  .map(item => ({ name: item.all_img_name, id: item.img_id }));\n\nconst used_image_names = all_items\n  .filter(item => item.used_img_name !== undefined)\n  .map(item => (item.used_img_name || '').trim())\n  .filter(n => n !== '');\n\nconst last_used = used_image_names.length > 0\n  ? used_image_names[used_image_names.length - 1]\n  : '';\n\n// sort images\nall_images.sort((a, b) => {\n  const na = parseInt((a.name || '').match(/^\\d+/)?.[0] || '0', 10);\n  const nb = parseInt((b.name || '').match(/^\\d+/)?.[0] || '0', 10);\n  return na - nb;\n});\n\n// remove used\nconst used_set = new Set(used_image_names);\nconst remaining_images = all_images.filter(img => !used_set.has(img.name));\n\nreturn [{\n  json: {\n    all_images,\n    remaining_images,\n    last_used_name: last_used,\n    account_name,\n    platform,\n    today_post_mode,\n    fb_post_type,\n    ig_post_type,\n    total_images: all_images.length,\n    remaining_count: remaining_images.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5248,
        544
      ],
      "id": "6615a586-489e-4459-b508-8f212920f121",
      "name": "Code in JavaScript",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst all_images = input.all_images || [];\nconst remaining_images = input.remaining_images || [];\nconst last_used_name = (input.last_used_name || '').trim();\nconst account_name = input.account_name || 'thebitz420dotio';\nconst platform = input.platform || 'instagram';\nconst last_post_type = (input.last_post_type || '').trim();\n\nif (all_images.length === 0) throw new Error('No images found in Drive folder!');\n\nlet selectedImage;\nlet nextPos;\nlet totalRemaining = remaining_images.length;\n\nif (remaining_images.length === 0) {\n  const lastUsedIndex = all_images.findIndex(img => img.name === last_used_name);\n  const resetPos = (lastUsedIndex + 1) >= all_images.length ? 0 : lastUsedIndex + 1;\n  selectedImage = all_images[resetPos];\n  nextPos = resetPos;\n  totalRemaining = all_images.length;\n} else {\n  const lastUsedIndexInAll = all_images.findIndex(img => img.name === last_used_name);\n  let picked = remaining_images.find(\n    img => all_images.findIndex(a => a.name === img.name) > lastUsedIndexInAll\n  );\n  if (!picked) picked = remaining_images[0];\n  selectedImage = picked;\n  nextPos = all_images.findIndex(a => a.name === picked.name);\n}\n\nlet today_post_mode;\nif (last_post_type === 'fb_image_ig_video') {\n  today_post_mode = 'fb_video_ig_image';\n} else {\n  today_post_mode = 'fb_image_ig_video';\n}\n\nconst fb_post_type = today_post_mode === 'fb_image_ig_video' ? 'image' : 'video';\nconst ig_post_type = today_post_mode === 'fb_image_ig_video' ? 'video' : 'image';\n\nconst productName = (selectedImage.name || 'Product')\n  .replace(/^\\d+_/, '')\n  .replace(/\\.[^.]+$/, '')\n  .replace(/[-_]/g, ' ')\n  .trim();\n\nreturn [{\n  json: {\n    previous_image: last_used_name,\n    next_index: nextPos + 1,\n    total_images: all_images.length,\n    remaining_images: totalRemaining,\n    image_file_id: selectedImage.id,\n    image_file_name: selectedImage.name,\n    product_name: productName,\n    account_name,\n    platform,\n    last_post_type,\n    today_post_mode,\n    fb_post_type,\n    ig_post_type,\n    image_drive_url: `https://drive.google.com/uc?export=download&id=${selectedImage.id}`\n  }\n}];"
      },
      "id": "72c3f8a3-d83e-414b-acbb-66244186a108",
      "name": "Compute Next Index & IG Type1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5024,
        544
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1qsRdIcMLQf95O_jMTom8PCUbIrADtImZ",
            "mode": "list",
            "cachedResultName": "Product Description"
          }
        },
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType"
          ]
        }
      },
      "id": "f69ee4a3-0d88-4ffe-9c76-0e555c270c4c",
      "name": "GDrive – List Product Docs1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4816,
        544
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const computeItem = $('Compute Next Index & IG Type1').first().json;\n\nconst imageId = computeItem.image_file_id;\nconst imageName = computeItem.image_file_name;\nconst imageUrl = computeItem.image_drive_url;\n\nconst productName = (imageName || '')\n  .replace(/^\\d+_/, '')\n  .replace(/\\.[^.]+$/, '')\n  .replace(/[-_]/g, ' ')\n  .trim();\n\nconst imageBase = productName.toLowerCase().replace(/\\s+/g, '');\n\nlet matchedDoc = null;\ntry {\n  const allDocs = $('GDrive – List Product Docs1').all();\n  for (const docItem of allDocs) {\n    const docName = (docItem.json.name || '')\n      .replace(/\\.[^.]+$/, '')\n      .toLowerCase()\n      .replace(/[-_\\s]/g, '');\n    if (docName === imageBase) {\n      matchedDoc = docItem.json;\n      break;\n    }\n  }\n} catch(e) {}\n\nconst docExportUrl = matchedDoc\n  ? `https://docs.google.com/document/d/${matchedDoc.id}/export?format=txt`\n  : null;\n\nreturn [{\n  json: {\n    product_id: imageId,\n    product_image_name: imageName,\n    product_name: productName,\n    doc_id: matchedDoc ? matchedDoc.id : null,\n    doc_export_url: docExportUrl,\n    has_doc: !!matchedDoc,\n    product_image_url: imageUrl,\n    product_description: matchedDoc\n      ? `[Doc will be fetched] - ${matchedDoc.name}`\n      : 'Premium product available now.',\n    product_url: 'https://thebitz420.io'\n  }\n}];"
      },
      "id": "f5abe7d8-8914-4074-b648-d64b3d168d2b",
      "name": "Parse GDrive Product Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4608,
        544
      ]
    },
    {
      "parameters": {
        "url": "={{$json.product_image_url}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "id": "a8972f26-9b44-4246-979c-08cdfce7ef47",
      "name": "HTTP – Download Image (Auth)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4384,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check_has_doc",
              "leftValue": "={{ $json.has_doc }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "16d092e3-5247-4168-a835-5895621916f2",
      "name": "IF: Has Doc?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4208,
        544
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.doc_export_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "b9e57a41-e258-402f-b5f1-9236bbec228b",
      "name": "Fetch Doc Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3856,
        400
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a product description writer for a premium cannabis brand in the UK.\nProduct name: {{ $('Parse GDrive Product Data').item.json.product_name }}\nWrite a 2-3 sentence premium lifestyle description. Output only the description, nothing else.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "id": "c573cdca-226b-4eca-811d-61c4475ace66",
      "name": "GPT-4o – Generate Description",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -3904,
        656
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const productData = $('Parse GDrive Product Data').first().json;\nlet description = productData.product_description || 'Premium product available now.';\ntry {\n  const docResponse = $('Fetch Doc Text').first();\n  const rawText = docResponse?.json?.data || docResponse?.json?.body || '';\n  const cleaned = rawText.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  if (cleaned && cleaned.length > 10) description = cleaned.substring(0, 800);\n} catch(e) {}\nif (!description || description.includes('[Doc will be fetched]')) {\n  try {\n    const genData = $('GPT-4o – Generate Description').first()?.json || {};\n    const genText = genData.output_text || genData.text || genData.content || genData.message?.content || genData.choices?.[0]?.message?.content || '';\n    if (genText.trim()) description = genText.trim();\n  } catch(e) {}\n}\nreturn [{ json: { ...productData, product_description: description } }];"
      },
      "id": "5ef7e0e2-da9f-4156-8f76-762336204f12",
      "name": "Merge Doc Text into Product",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3520,
        544
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4o"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a social media expert for a premium cannabis brand in the UK.\n\nProduct Name: {{ $('Merge Doc Text into Product').item.json.product_name }}\nDescription: {{ $('Merge Doc Text into Product').item.json.product_description }}\nProduct Link: {{ $('Merge Doc Text into Product').item.json.product_url }}\n\nRules:\n- Write ONLY ONE caption\n- MUST be 255 characters or LESS (STRICT HARD LIMIT — NEVER EXCEED)\n- Single line, no line breaks\n- Max 2 short sentences total\n- Start with a 2–4 word punchy hook\n- Tone: premium, clean, exciting\n- Keep wording VERY concise (short phrases, no filler)\n- Use at most 3 emoji (🌿 or 💨 or ✨)\n\nCRITICAL:\n1. After writing, COUNT the characters.\n2. If it exceeds 255, SHORTEN it.\n3. Repeat until it is 255 or less.\n4. Do NOT output anything above 255 characters.\n\nEnd EXACTLY with:\nExplore more 👉 {{ $('Merge Doc Text into Product').item.json.product_url }}",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "id": "f16ef5d9-4615-4518-8521-2f9b67fd2389",
      "name": "Generate FB Caption",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -3264,
        528
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4o"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a social media expert for a premium cannabis brand in the UK.\n\nProduct Name: {{ $('Merge Doc Text into Product').item.json.product_name }}\nDescription: {{ $('Merge Doc Text into Product').item.json.product_description }}\nProduct Link: {{ $('Merge Doc Text into Product').item.json.product_url }}\n\nRules:\n- Write ONLY ONE caption\n- MUST be 255 characters or LESS (STRICT HARD LIMIT — NEVER EXCEED)\n- Single line, no line breaks\n- Max 2 short sentences total\n- Start with a 2–4 word punchy hook\n- Tone: premium, clean, exciting\n- Keep wording VERY concise (short phrases, no filler)\n- Use at most 3 emoji (🌿 or 💨 or ✨)\n\nCRITICAL:\n1. After writing, COUNT the characters.\n2. If it exceeds 255, SHORTEN it.\n3. Repeat until it is 255 or less.\n4. Do NOT output anything above 255 characters.\n\nEnd EXACTLY with:\nExplore more 👉 {{ $('Merge Doc Text into Product').item.json.product_url }}",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "id": "8fe43fe0-0cd3-4ce9-ac11-32f442c26773",
      "name": "Generate IG Caption5",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -3024,
        528
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const clean = (text) => (text || '').replace(/^\\d+\\.\\s*/gm, '').replace(/\\n+/g, ' ').replace(/\\s+/g, ' ').trim();\n\nlet fbCaption = '🌿 Premium quality cannabis. Explore more 👉 https://thebitz420.io';\nlet igCaption = '🌿 New drop. Link in bio. #TheBitz420 #UKCannabis';\n\ntry { const d = $('Generate FB Caption').first()?.json || {};\n  const t = d.output_text || d.text || d.content || d.message?.content || d.choices?.[0]?.message?.content || '';\n  if (t.trim()) fbCaption = clean(t); } catch(e) {}\n\ntry { const d = $('Generate IG Caption5').first()?.json || {};\n  const t = d.output_text || d.text || d.content || d.message?.content || d.choices?.[0]?.message?.content || '';\n  if (t.trim()) igCaption = clean(t); } catch(e) {}\n\nconst productData = $('Merge Doc Text into Product').first().json;\nreturn [{ json: { ...productData, facebook_caption: fbCaption, instagram_caption: igCaption } }];"
      },
      "id": "834af3df-d47d-4a32-806b-386077c57bc3",
      "name": "Merge Captions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2752,
        528
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.product_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "71277fcc-be62-4666-a636-81855ee18363",
      "name": "Download Product Image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2528,
        528
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "options": {
          "encoding": "base64"
        }
      },
      "id": "e65170a3-c144-4a91-a51c-c5833ae5fb31",
      "name": "Binary to Base",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        -2304,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-image-preview:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-goog-api-key",
              "value": "YOUR_GEMINI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [\n      { \"text\": \"You are a product photography expert. Analyze this product image in extreme detail. Describe: 1) The exact product type, shape, colors, text/logo on packaging, materials 2) Current lighting setup 3) Background. Output ONLY a single image generation prompt starting with: 'Professional product photography of...'\" },\n      { \"inline_data\": { \"mime_type\": \"image/png\", \"data\": \"{{ $json.data }}\" } }\n    ]\n  }]\n}",
        "options": {}
      },
      "id": "411b982f-19c6-40a2-82f3-a7df335eb3d1",
      "name": "Gemini – Analyze Image → Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2080,
        528
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
        },
        "prompt": "={{ $json.candidates[0].content.parts[0].text }}",
        "options": {}
      },
      "id": "30b78391-1444-46f0-b238-5da39e47a3da",
      "name": "Gemini – Generate AI Image",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -1856,
        528
      ]
    },
    {
      "parameters": {
        "name": "={{ $('Download Product Image').item.json.product_name.replace(/\\.[^/.]+$/, '') + '_Ai.png' }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1dUkuFV8yMpeYe167AcOAq08Xbjxgt3H-",
          "mode": "list",
          "cachedResultName": "AI Generated Pic ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dUkuFV8yMpeYe167AcOAq08Xbjxgt3H-"
        },
        "options": {}
      },
      "id": "faf995ac-5f2d-4863-b7be-b3e4f530b408",
      "name": "Upload AI Image to GDrive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1632,
        528
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "721229d8-34ab-4c3d-bcaa-5a7bf00b7def",
      "name": "Download AI Image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1408,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binary = item.binary.data;\nif (!binary) throw new Error('No binary found');\nconst rawBase64 = await this.helpers.getBinaryDataBuffer(0, 'data').then(buffer => buffer.toString('base64'));\nlet mimeType = binary.mimeType || 'image/jpeg';\nif (!rawBase64 || rawBase64.length < 100) throw new Error(`Base64 invalid (length: ${rawBase64.length})`);\nreturn [{ json: { veo_image_base64: rawBase64, veo_image_mime_type: mimeType } }];"
      },
      "id": "a70c2bd6-d043-4d80-99e4-6392dd81a521",
      "name": "Prepare Image for Veo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        528
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "models/veo-3.1-generate-preview",
          "mode": "list",
          "cachedResultName": "models/veo-3.1-generate-preview"
        },
        "prompt": "=Create a high-end cinematic short video (6–8 seconds) for a premium UK cannabis product.\n\nUse the provided product image as the PRIMARY visual reference.\n\nIMPORTANT:\n- The video must visually match the product from the image\n- Maintain the same color, texture, shape, and structure\n- Do NOT redesign or replace the product\n\nProduct: {{ $('Merge Captions').item.json.product_name }}\n\nDescription:\n{{ $('Merge Doc Text into Product').item.json.product_description }}\n\nVisual Style:\n- Luxury UK dispensary aesthetic\n- Dark green, black, and gold palette\n- Premium, minimal, editorial look\n- Clean, high-end product focus\n\nScene Direction:\n- Cinematic zoom-in on the product\n- Slow pan with subtle micro rotation\n- Macro close-up highlighting texture and trichomes\n- Very subtle smoke effects\n- No clutter or extra objects\n\nLighting:\n- Moody studio lighting\n- Soft highlights with cinematic shadows\n\nMood & Tone:\n- Premium, exclusive, calm\n- Luxury lifestyle feel\n\nText Overlay:\n1. Main: \"{{ $('Merge Captions').item.json.product_name }}\"\n2. Description highlights (3–5 lines, 2–4 words each, sequential)\n3. Keep text perfectly readable, clean sans-serif only\n\nOutput:\n- Aspect ratio: 9:16\n- Duration: 6–8 seconds\n- Cinematic motion\n- High-end rendering\n\nStrict Constraints:\n- Do NOT change the product appearance\n- Do NOT add unrelated objects\n- Maintain exact visual consistency with the input image",
        "options": {}
      },
      "id": "46f76597-220d-4b40-96e9-9cec41e53467",
      "name": "Veo 3 – Generate AI Video",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -960,
        528
      ]
    },
    {
      "parameters": {
        "name": "={{ $('Download Product Image').item.json.product_name.replace(/\\.[^/.]+$/, '') + '_Ai_Video.mp4' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1u8lzSE7BQbcM0UOrpY2JBhQ3OoRagVkQ",
          "mode": "list",
          "cachedResultName": "Product Ai Video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1u8lzSE7BQbcM0UOrpY2JBhQ3OoRagVkQ"
        },
        "options": {}
      },
      "id": "eeff4067-f547-495b-a008-2f1c38d0c0db",
      "name": "Upload AI Video to GDrive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -736,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const productData = $('Compute Next Index & IG Type1').first().json;\nconst captionData = $('Merge Captions').first().json;\n\n// 🔥 MODE FLIP LOGIC\nconst lastMode = productData.last_post_mode;\n\nlet nextMode = 'fb_image_ig_video';\n\nif (lastMode === 'fb_image_ig_video') {\n  nextMode = 'fb_video_ig_image';\n} else if (lastMode === 'fb_video_ig_image') {\n  nextMode = 'fb_image_ig_video';\n}\n\n// derive types\nconst fbPostType = nextMode.includes('fb_image') ? 'image' : 'video';\nconst igPostType = nextMode.includes('ig_image') ? 'image' : 'video';\n\n// 🔽 FILE IDS\nlet imageFileId = '';\nlet videoFileId = '';\n\ntry { imageFileId = $('Upload AI Image to GDrive').first().json.id || ''; } catch(e) {}\ntry { videoFileId = $('Upload AI Video to GDrive').first().json.id || ''; } catch(e) {}\n\n// 🔽 URL BUILD\nconst imageUrl = imageFileId\n  ? `https://drive.google.com/uc?export=download&id=${imageFileId}`\n  : productData.image_drive_url;\n\nconst videoUrl = videoFileId\n  ? `https://drive.google.com/uc?export=download&id=${videoFileId}`\n  : '';\n\n// ✅ FINAL RETURN\nreturn [{\n  json: {\n    ...productData,\n\n    // ✅ IMPORTANT (override)\n    today_post_mode: nextMode,\n    fb_post_type: fbPostType,\n    ig_post_type: igPostType,\n\n    facebook_caption:  captionData.facebook_caption,\n    instagram_caption: captionData.instagram_caption,\n\n    final_image_url:   imageUrl,\n    final_video_url:   videoUrl,\n\n    image_file_id:     imageFileId,\n    video_file_id:     videoFileId\n  }\n}];"
      },
      "id": "5ab2ca19-8906-40b4-b9c2-532fc0efcdf6",
      "name": "Build Final Post Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "42c6022b-a80f-4410-b8fa-6d96461262dc",
              "leftValue": "={{ $json.today_post_mode }}",
              "rightValue": "fb_image_ig_video",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -352,
        528
      ],
      "id": "df8a13b1-6570-4c21-870d-8fad4900329c",
      "name": "If – FB Image or Video?"
    },
    {
      "parameters": {
        "url": "={{ $('Build Final Post Data1').first().json.final_image_url }}",
        "additionalFields": {}
      },
      "id": "4fdf8d46-685d-4670-8a73-50b7446218bd",
      "name": "Cloudinary – Upload FB Image",
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        384,
        704
      ]
    },
    {
      "parameters": {},
      "id": "e6908f76-2fcd-4ea3-90d0-9f688faf2aae",
      "name": "FB – Post Image",
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1,
      "position": [
        624,
        704
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Build Final Post Data1').first().json.final_video_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "44eff0e7-8eac-42a8-b7bd-07053bc08b47",
      "name": "Download IG Video (Image Day)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        912
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.final_video_url }}",
        "resource_type": "video",
        "additionalFields": {}
      },
      "id": "9da3d44f-89f2-4d41-b10f-23f25d757228",
      "name": "Cloudinary – Upload IG Video2 (Image Day)",
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        384,
        912
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "uploadVideo"
      },
      "id": "1e3974de-ba7f-4395-83e1-389d1fa26561",
      "name": "IG – Post Video (Image Day)",
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1,
      "position": [
        624,
        912
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $('Build Final Post Data1').first().json.final_video_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "65e5a2b2-23c1-49b1-8d70-b65a7522c88c",
      "name": "Download FB Video (Video Day)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.final_video_url }}",
        "resource_type": "video",
        "additionalFields": {}
      },
      "id": "f5acbb78-2aef-4352-9845-7b3c8421c25c",
      "name": "Cloudinary – Upload FB Video (Video Day)",
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        384,
        0
      ]
    },
    {
      "parameters": {
        "operation": "uploadVideo"
      },
      "id": "2bd2449f-d881-4b59-a8d6-78dabfa3f2c3",
      "name": "FB – Post Video (Video Day)",
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Build Final Post Data1').first().json.final_image_url }}",
        "additionalFields": {}
      },
      "id": "c716eb9b-5df9-4cd1-ba07-d290653b1412",
      "name": "Cloudinary – Upload IG Image (Video Day)",
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        384,
        224
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "5606a278-8be0-4db4-8c9e-0026076fa73e",
      "name": "IG – Post Image (Video Day)",
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1,
      "position": [
        608,
        224
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const postData = $('Build Final Post Data1').first().json;\n\nlet fbPostId  = '';\nlet igPostId  = '';\nlet errorMessages = [];\n\nconst fbPostType = postData.fb_post_type;\n\nif (fbPostType === 'image') {\n  // TRUE branch: FB=Image, IG=Video\n  try {\n    const r = $('FB – Post Image').first().json;\n    fbPostId = r.id || r.post_id || r.postId || '';\n    if (r.error) errorMessages.push('FB Image: ' + JSON.stringify(r.error));\n  } catch(e) { errorMessages.push('FB Image node error: ' + e.message); }\n\n  try {\n    const r = $('IG – Post Video (Image Day)').first().json;\n    igPostId = r.id || r.video_id || r.videoId || r.postId || '';\n    if (r.error) errorMessages.push('IG Video: ' + JSON.stringify(r.error));\n  } catch(e) { errorMessages.push('IG Video node error: ' + e.message); }\n\n} else {\n  // FALSE branch: FB=Video, IG=Image\n  try {\n    const r = $('FB – Post Video (Video Day)').first().json;\n    fbPostId = r.id || r.video_id || r.videoId || r.postId || '';\n    if (r.error) errorMessages.push('FB Video: ' + JSON.stringify(r.error));\n  } catch(e) { errorMessages.push('FB Video node error: ' + e.message); }\n\n  try {\n    const r = $('IG – Post Image (Video Day)').first().json;\n    igPostId = r.id || r.post_id || r.postId || r.id || '';\n    if (r.error) errorMessages.push('IG Image: ' + JSON.stringify(r.error));\n  } catch(e) { errorMessages.push('IG Image node error: ' + e.message); }\n}\n\n// allSucceeded: at least one platform posted successfully\nconst allSucceeded = !!(fbPostId || igPostId);\n\nreturn [{\n  json: {\n    ...postData,\n    fb_post_id:     fbPostId,\n    ig_post_id:     igPostId,\n    all_succeeded:  allSucceeded,\n    error_messages: errorMessages.join(' | '),\n    posted_at:      new Date().toISOString()\n  }\n}];"
      },
      "id": "e89f6306-9313-4a69-9b22-8fc201f8f675",
      "name": "Collect All Post Results2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "all-ok",
              "leftValue": "={{ $json.all_succeeded }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "ed74d28c-9af1-4639-99b1-6ab07a7d2874",
      "name": "IF: All Posts Succeeded?2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1360,
        576
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bwn4BsHxzq7m4jPWq3wUZduXH7oIveexl8LijyNcaUI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1235876218,
          "mode": "list",
          "cachedResultName": "content_posting_tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bwn4BsHxzq7m4jPWq3wUZduXH7oIveexl8LijyNcaUI/edit#gid=1235876218"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "used_img_name": "={{$json.image_file_name}}",
            "posted_at": "={{$json.posted_at}}",
            "account_name": "={{$json.account_name}}",
            "platfrom": "={{$json.platform}}",
            "index": "={{$json.next_index}}",
            "today_post_mode": "={{$json.today_post_mode}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "account_name",
              "displayName": "account_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "platfrom",
              "displayName": "platfrom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "today_post_mode",
              "displayName": "today_post_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "used_img_name",
              "displayName": "used_img_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "25fe0e01-8426-40a0-a8a3-0ab268ed373c",
      "name": "Update Tracking Sheet2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1632,
        416
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bwn4BsHxzq7m4jPWq3wUZduXH7oIveexl8LijyNcaUI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 91590751,
          "mode": "list",
          "cachedResultName": "post_logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bwn4BsHxzq7m4jPWq3wUZduXH7oIveexl8LijyNcaUI/edit#gid=91590751"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "index": "={{ $json.next_index }}",
            "product_name": "={{ $json.product_name }}",
            "image_file_name": "={{ $json.image_file_name }}",
            "fb_post_type": "={{ $json.fb_post_type }}",
            "ig_post_type": "={{ $json.ig_post_type }}",
            "today_post_mode": "={{ $json.today_post_mode }}",
            "fb_post_id": "={{ $json.fb_post_id }}",
            "image_url": "={{ $json.final_image_url }}",
            "video_url": "={{ $json.final_video_url }}",
            "status": "={{ 'posted' }}",
            "posted_at": "={{ new Date().toISOString() }}",
            "errors": "={{ $json.error_messages }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_file_name",
              "displayName": "image_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fb_post_type",
              "displayName": "fb_post_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ig_post_type",
              "displayName": "ig_post_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "today_post_mode",
              "displayName": "today_post_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fb_post_id",
              "displayName": "fb_post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ig_post_id",
              "displayName": "ig_post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "errors",
              "displayName": "errors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0a020843-2702-4c6d-8186-3e960932e84e",
      "name": "Log Post to post_log Sheet2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1632,
        656
      ]
    },
    {
      "parameters": {
        "sendTo": "jjkkok173@gmail.com",
        "subject": "=✅ TheBitz420 Posted – {{ $json.product_name }} (Index {{ $json.next_index }})",
        "emailType": "text",
        "message": "=✅ DAILY POST SUCCESSFUL – TheBitz420\n=====================================\n\n-------------------------------------\n📋 POST DETAILS\n-------------------------------------\nProduct       : {{ $json.product_name }}\nIndex         : {{ $json.next_index }}\nImage File    : {{ $json.image_file_name }}\nToday Mode    : {{ $json.today_post_mode }}\nPosted At     : {{ $json.posted_at }}\n\n-------------------------------------\n📡 PLATFORM STATUS\n-------------------------------------\nFacebook  ({{ $json.fb_post_type }}) : ✅ ID – {{ $json.fb_post_id }}\nInstagram ({{ $json.ig_post_type }}) : ✅ ID – {{ $json.ig_post_id }}\n\n-------------------------------------\n🖼️ MEDIA LINKS\n-------------------------------------\nImage   : {{ $json.final_image_url }}\nVideo   : {{ $json.final_video_url }}\n\n-------------------------------------\n📝 FACEBOOK CAPTION\n-------------------------------------\n{{ $json.facebook_caption }}\n\n-------------------------------------\n📝 INSTAGRAM CAPTION\n-------------------------------------\n{{ $json.instagram_caption }}\n\n=====================================\nTheBitz420 Automation | thebitz420.io\n=====================================",
        "options": {}
      },
      "id": "9fa96073-dc3d-4e4e-b838-37cdedca7522",
      "name": "Email – Success Notification2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1888,
        544
      ],
      "webhookId": "a15f4d34-7ca7-4d82-a240-e739258b70fd"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bwn4BsHxzq7m4jPWq3wUZduXH7oIveexl8LijyNcaUI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 91590751,
          "mode": "list",
          "cachedResultName": "post_logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bwn4BsHxzq7m4jPWq3wUZduXH7oIveexl8LijyNcaUI/edit#gid=91590751"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "index": "={{ $json.next_index }}",
            "product_name": "={{ $json.product_name }}",
            "image_file_name": "={{ $json.image_file_name }}",
            "fb_post_type": "={{ $json.fb_post_type }}",
            "ig_post_type": "={{ $json.ig_post_type }}",
            "today_post_mode": "={{ $json.today_post_mode }}",
            "fb_post_id": "={{ $json.fb_post_id }}",
            "ig_post_id": "={{ $json.ig_post_id }}",
            "image_url": "={{ $json.final_image_url }}",
            "video_url": "={{ $json.final_video_url }}",
            "errors": "={{ $json.error_messages }}",
            "posted_at": "={{ $json.posted_at }}",
            "status": "failed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_file_name",
              "displayName": "image_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fb_post_type",
              "displayName": "fb_post_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ig_post_type",
              "displayName": "ig_post_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "today_post_mode",
              "displayName": "today_post_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fb_post_id",
              "displayName": "fb_post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ig_post_id",
              "displayName": "ig_post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "errors",
              "displayName": "errors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2c9a44f5-ac86-40e0-a914-84b7e9f0a89b",
      "name": "Log Failure to post_log Sheet2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1616,
        912
      ]
    },
    {
      "parameters": {
        "sendTo": "jjkkok173@gmail.com",
        "subject": "=❌ TheBitz420 Post FAILED – {{ $json.product_name }} (Index {{ $json.next_index }})",
        "emailType": "text",
        "message": "=❌ DAILY POST FAILED – TheBitz420\n=====================================\n\n⚠️ Tracking sheet was NOT updated.\nPlease fix the issue and re-run manually.\n\n-------------------------------------\n📋 POST DETAILS\n-------------------------------------\nProduct       : {{ $json.product_name }}\nIndex         : {{ $json.index }}\nImage File    : {{ $json.image_file_name }}\nToday Mode    : {{ $json.today_post_mode }}\nPosted At     : {{ $json.posted_at }}\n\n-------------------------------------\n📡 PLATFORM STATUS\n-------------------------------------\nFacebook  : {{ $json.fb_post_id ? '✅ Posted – ' + $json.fb_post_id : '❌ Not Posted' }}\nInstagram : {{ $json.ig_post_id ? '✅ Posted – ' + $json.ig_post_id : '❌ Not Posted' }}\n\n-------------------------------------\n🔴 ERROR DETAILS\n-------------------------------------\n{{ $json.error_messages || 'No error details available.' }}\n\n=====================================\nTheBitz420 Automation | thebitz420.io\n=====================================",
        "options": {}
      },
      "id": "1fe30ef1-68db-4cd7-b2f3-38be8f20752c",
      "name": "Email – Failure Notification2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1904,
        912
      ],
      "webhookId": "99ba54bb-c60c-441a-b4ae-66eb4a6be640"
    },
    {
      "parameters": {
        "url": "={{ $json.final_image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "a6dabf62-3a69-4620-90c9-2879c7dd1fad",
      "name": "Download FB Image (image Day)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        704
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Build Final Post Data1').first().json.final_video_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "51aad824-55ce-427a-8790-3b0be13c4e70",
      "name": "Download IG Image (Video Day)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        224
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "# FB Image ,  instragram Video Upload ",
        "height": 560,
        "width": 608,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        560
      ],
      "typeVersion": 1,
      "id": "25a61c48-ecfb-4c4f-81da-40de3323206d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# FB Video , instragram  Image Upload ",
        "height": 560,
        "width": 608,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        -96
      ],
      "typeVersion": 1,
      "id": "f82b8fcb-aad4-4296-a26d-464acf5fb2ca",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Content Generation",
        "height": 400,
        "width": 2864,
        "color": "#073240"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3312,
        400
      ],
      "typeVersion": 1,
      "id": "6397b2bf-7a83-49c5-a65c-218048d6fc9c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Content Posting",
        "height": 1488,
        "width": 864,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        -192
      ],
      "typeVersion": 1,
      "id": "7fa25365-fc19-4273-abd7-aa1aca81f4bc",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "const postData = $('Build Final Post Data1').first().json;\n\nlet fbPostId  = '';\nlet errorMessages = [];\nlet isSuccess = false;\n\nconst fbPostType = postData.fb_post_type;\n\nif (fbPostType === 'image') {\n  try {\n    const raw = $('FB – Post Image').first().json;\n    const r = raw.results?.[0] || raw;\n\n    fbPostId = r.id || r.post_id || r.postId || '';\n    isSuccess = r.success === true || !!r.post_url || !!fbPostId;\n\n    if (r.error) errorMessages.push('FB Image: ' + JSON.stringify(r.error));\n\n  } catch(e) {\n    errorMessages.push('FB Image node error: ' + e.message);\n  }\n\n} else {\n  try {\n    const raw = $('FB – Post Video (Video Day)').first().json;\n    const r = raw.results?.[0] || raw;\n\n    fbPostId = r.id || r.video_id || r.videoId || r.postId || '';\n    isSuccess = r.success === true || !!r.post_url || !!fbPostId;\n\n    if (r.error) errorMessages.push('FB Video: ' + JSON.stringify(r.error));\n\n  } catch(e) {\n    errorMessages.push('FB Video node error: ' + e.message);\n  }\n}\n\n// final decision\nconst allSucceeded = isSuccess;\n\n// 🔥 directly overwrite today_post_mode\nconst updated_today_post_mode = allSucceeded\n  ? 'fb_video_ig_image'\n  : 'fb_image_ig_video';\n\nreturn [{\n  json: {\n    ...postData,\n    fb_post_id: fbPostId,\n    all_succeeded: allSucceeded,\n    today_post_mode: updated_today_post_mode, // ✅ overwrite\n    error_messages: errorMessages.join(' | '),\n    posted_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "3d23463c-fcb8-4073-be18-a041079fd5d5",
      "name": "Collect All Post Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        576
      ]
    },
    {
      "parameters": {
        "content": "#  Fb post +IG",
        "height": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        848
      ],
      "typeVersion": 1,
      "id": "45db92c7-d186-4433-b803-b58f5f16b30e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# only Fb "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        336
      ],
      "typeVersion": 1,
      "id": "7de71935-b2e5-4137-b034-4c4cac8747f7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5456,
        544
      ],
      "id": "d6d0cf62-0899-40da-81df-b6e5f3bccadd",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Cron Trigger": {
      "main": [
        [
          {
            "node": "List Product Images",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tracking_sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Product Images": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tracking_sheet": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Compute Next Index & IG Type1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Next Index & IG Type1": {
      "main": [
        [
          {
            "node": "GDrive – List Product Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDrive – List Product Docs1": {
      "main": [
        [
          {
            "node": "Parse GDrive Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse GDrive Product Data": {
      "main": [
        [
          {
            "node": "HTTP – Download Image (Auth)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP – Download Image (Auth)1": {
      "main": [
        [
          {
            "node": "IF: Has Doc?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Has Doc?": {
      "main": [
        [
          {
            "node": "Fetch Doc Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GPT-4o – Generate Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Doc Text": {
      "main": [
        [
          {
            "node": "Merge Doc Text into Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o – Generate Description": {
      "main": [
        [
          {
            "node": "Merge Doc Text into Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Doc Text into Product": {
      "main": [
        [
          {
            "node": "Generate FB Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate FB Caption": {
      "main": [
        [
          {
            "node": "Generate IG Caption5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate IG Caption5": {
      "main": [
        [
          {
            "node": "Merge Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Captions": {
      "main": [
        [
          {
            "node": "Download Product Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Product Image": {
      "main": [
        [
          {
            "node": "Binary to Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to Base": {
      "main": [
        [
          {
            "node": "Gemini – Analyze Image → Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini – Analyze Image → Prompt": {
      "main": [
        [
          {
            "node": "Gemini – Generate AI Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini – Generate AI Image": {
      "main": [
        [
          {
            "node": "Upload AI Image to GDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload AI Image to GDrive": {
      "main": [
        [
          {
            "node": "Download AI Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download AI Image": {
      "main": [
        [
          {
            "node": "Prepare Image for Veo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image for Veo": {
      "main": [
        [
          {
            "node": "Veo 3 – Generate AI Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Veo 3 – Generate AI Video": {
      "main": [
        [
          {
            "node": "Upload AI Video to GDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload AI Video to GDrive": {
      "main": [
        [
          {
            "node": "Build Final Post Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Post Data1": {
      "main": [
        [
          {
            "node": "If – FB Image or Video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If – FB Image or Video?": {
      "main": [
        [
          {
            "node": "Download FB Video (Video Day)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download IG Image (Video Day)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download FB Image (image Day)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download IG Video (Image Day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary – Upload FB Image": {
      "main": [
        [
          {
            "node": "FB – Post Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB – Post Image": {
      "main": [
        [
          {
            "node": "Collect All Post Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download IG Video (Image Day)": {
      "main": [
        [
          {
            "node": "Cloudinary – Upload IG Video2 (Image Day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary – Upload IG Video2 (Image Day)": {
      "main": [
        [
          {
            "node": "IG – Post Video (Image Day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG – Post Video (Image Day)": {
      "main": [
        [
          {
            "node": "Collect All Post Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download FB Video (Video Day)": {
      "main": [
        [
          {
            "node": "Cloudinary – Upload FB Video (Video Day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary – Upload FB Video (Video Day)": {
      "main": [
        [
          {
            "node": "FB – Post Video (Video Day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB – Post Video (Video Day)": {
      "main": [
        [
          {
            "node": "Collect All Post Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary – Upload IG Image (Video Day)": {
      "main": [
        [
          {
            "node": "IG – Post Image (Video Day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG – Post Image (Video Day)": {
      "main": [
        [
          {
            "node": "Collect All Post Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: All Posts Succeeded?2": {
      "main": [
        [
          {
            "node": "Update Tracking Sheet2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Post to post_log Sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure to post_log Sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tracking Sheet2": {
      "main": [
        [
          {
            "node": "Email – Success Notification2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Post to post_log Sheet2": {
      "main": [
        [
          {
            "node": "Email – Success Notification2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Failure to post_log Sheet2": {
      "main": [
        [
          {
            "node": "Email – Failure Notification2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download FB Image (image Day)1": {
      "main": [
        [
          {
            "node": "Cloudinary – Upload FB Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download IG Image (Video Day)": {
      "main": [
        [
          {
            "node": "Cloudinary – Upload IG Image (Video Day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Post Results": {
      "main": [
        [
          {
            "node": "IF: All Posts Succeeded?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c48dfaad-4e16-45fd-9d4a-f82634b4a3c5",
  "meta": {},
  "nodeGroups": [],
  "id": "JIZjwxclWwdmYv93",
  "tags": []
}